.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: green;
  color: white;
  transition: 0.5s all ease;
  position: sticky;
  z-index: 99;
  top: 0px;
  &.active {
    background-color: white;
    color: black;
  }
  .container {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    .logo {
      font-size: 30px;
      font-weight: bold;
      .text {
      }
      .dot {
        color: #1bdf73;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        position: relative;
        img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          border-radius: 50%;
        }
        .options {
          position: absolute;
          top: 53px;
          right: 0px;
          padding: 20px;
          color: gray;
          width: 170px;
          font-weight: 300;
          border: 1px solid #1bdf73;
          background-color: white;
          display: flex;
          flex-direction: column;
          gap: 10px;
          border-radius: 10px;
        }
      }
      button {
        color: #1bdf73;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #1bdf73;
        cursor: pointer;
        background-color: transparent;
        &:hover {
          background-color: #1bdf73;
          border-color: #1bdf73;
          color: white;
        }
        &.active {
          background-color: white;
          border-color: #1bdf73;
          color: #1bdf73;
          &:hover {
            background-color: #1bdf73;
            color: white;
          }
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid lightgray;
  }
  .menu {
    width: 1200px;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    color: gray;
  }
}
